####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

####################################
# Virtual environments
####################################
.venv/
venv/
env/

####################################
# Jupyter
####################################
.ipynb_checkpoints/

####################################
# VS Code (keep config, ignore noise)
####################################
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

####################################
# Data (ignore raw/transformed data files)
####################################
data/raw/*
data/transformed/*
!data/raw/.gitkeep
!data/transformed/.gitkeep

####################################
# Logs & temporary files
####################################
*.log
*.tmp

####################################
# OS-specific
####################################
.DS_Store
Thumbs.db